*/*pyc
*/*~
*/*/*~
*/*/*/*~
*/*.out
*/*.aux
*/*.bbl
*/*.blg
*/*.vrb
*/*.synctex*
*/*.toc
*/*.snm
*/*.odt
*/*.ps
*/*.eps
*/*.dvi
*/*.log
*/*.nav
*/*.bak
*/*.vrb
*/*.pyc
*/*/*.pyc
*.pyc
selection/*.so
selection/*.c
selection/*/*.so
selection/*/*.c
build
*ipynb_checkpoints
*/*ipynb_checkpoints
.idea/*
*/.idea/*
*/*/.idea/*